src/main/java/test.java
/src/main/java/com/student_info_manager/ui/HelloApplication.java
/src/main/java/com/student_info_manager/ui/HelloController.java
/src/main/java/tests/test.java
/src/main/resources/com/student_info_manager/ui/hello-view.fxml
